# frontend

# Logs
logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Node modules and build/dist folders
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Editor directories and files
frontend/.vscode/
frontend/!.vscode/extensions.json
frontend/.idea/
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?


#backend
#virtual environment
/backend/venv/
/backend/.env/

#environment variables
/backend/.env
/backend/.env.*


#python specific
/backend/__pycache__/
/backend/*.pyc
/backend/*$py.class

#Django specific
/backend/*.log
/backend/db.sqlite3
/backend/media/
/backend/staticfiles/

#VSCode specific
/backend/.vscode/
/backend/.idea/

